<mat-card class="mat">
    <mat-card-title>Lista de carros y dueños</mat-card-title>
    <hr>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let ownerCar of ownerList">
          <img mat-list-avatar src="{{ownerCar.giphyUrl}}">
          <h3 mat-line>
            <label>Carro: {{ownerCar.carName}}</label>
          </h3>
          <h3 mat-line>
            <label>Dueño: {{ownerCar.ownerName}}</label>
          </h3>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  